*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}

.main-div{
    height: 100vh;
    width: 100vw;
    background-image: url("../images/backcover.svg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: auto 100%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 20vh;
}

nav img{
    width: 80px;
    height: 60px;
    margin-left: 120px;
}

.nav-items{
    display: flex;
}

.nav-item{
    margin: 0 20px;
    font-size: 12px;
    color: #222b75;
}

nav button{
    margin-right: 120px;
    font-size: 10px;
    padding: 4px 15px;
    border: none;
    border-radius: 20px;
    background: linear-gradient(90deg, #965cf2, #ff8adc);
    color: white;
}

.intro-section{
    margin-top: 60px;
    margin-left: 120px;
}

.left-section h1{
    font-size: 3rem;
    color: #3e4794;
}

.left-section h4{
    font-size: 12px;
    font-weight: 100;
    color: #3e4794;
    margin: 30px 0;
    width: 25%;
}

.learn-more-btn{
    font-size: 1.1rem;
    font-weight: 900;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background: linear-gradient(90deg, #965cf2, #ff8adc);
    color: white;
}

.imgs-div img{
    position: absolute;
}

img[alt = "intro-img"]{
    width: 800px;
    height: 500px;
    top: 15%;
    right: 0;
}

.vector-img{
    width: 130px;
    height: 80px;
    bottom: 20%;
    right: 50%;
}

.vector-dot{
    width: 15px;
    height: 15px;
    bottom: 30%;
    right: 54%;
}